:root {
    --light-blue : #8ecae6;
    --medium-blue : #219ebc;
    --dark-blue : #023047;
}
body {
    font-size:600;
    color:rgb(69, 23, 69);
    background-color: #8ecae6; 
}

.navbar-brand,
.main-topic {
    font-family: 'Lakki Reddy', cursive;
}

.category-section {
    background-color: #ffddd2;
}


footer {
    background-color: var(--medium-blue);
}

/* responsive for (YouTube) iframe */
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* disabled favorite button */
.favorite-button:disabled {
    color: red;
}

/* responsive for Hotspot (Yelp) images iframe */
.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}